<footer>
    <div class="f-info">
        <i class="fa-brands fa-facebook" style="color: #fe424D;"></i>
        <i class="fa-brands fa-instagram" style="color: #fe424D;"></i>
    </div>
    <div class="f-info-brand"><i class="fa-solid fa-copyright" style="color: #fe424D;"></i> ApnaPG Private Limited</div>
    <div class="f-info-links">
        <a>Privacy</a>
        <a>Terms</a>
    </div>
</footer>